@charset "UTF-8";
.foot {
  width: 100%;
  height: 100%;
}

.foot-nav {
  background-color: #252525;
  border-bottom: 1px solid #ccc;
}

.nav-li{
  width: 100%;
  height: 100%;
}

.nav-li li {
  float: left;
  width: 14.2857%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ccc;
}

.nav-li li a {
  display: block;
  color: #ccc;
  text-decoration: none;
}

.nav-li li a:hover {
  color: #458dd6;
}

.foot-info {
  width: 100%;
  height: 100%;
  background-color: #252525; 
}

.foot-info .company-info {
  margin-top: 20px;
  margin-bottom: 20px;;
}

.foot-info .company-info p{
  color: #ccc;  
}

.foot-logo{
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;;
}

.foot-logo a{
  display: block;
}

.foot-logo a img{
  width: 227px;
  height: 160px;
}