@charset "UTF-8";
.wrap {
  padding: 50px 20px;
  max-width: 1200px;
  margin: auto;
}

.wrapinfo {
  height: 590px;
  position: relative;
  padding-top : 20px;
}

.wrapinfo > .form-group {
  position: absolute;
  bottom: 0;
}

.wrapintro {
  margin-top: 50px;
}

.recommend {
  margin-top: 50px;
}

.reclist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reclist div {
  text-align: center;
}

.btn{
  background-color: transparent;
  color: #007bff;
  border-color: #007bff;
} 

.btn:hover {
  font-weight: bold;  
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

img {
  width : 400px;
  height : 600px;
}