@charset "UTF-8";

/*************************************************** 
  초기화 및 기본 설정
***************************************************/
* { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; color: #222328; }

body { background-color: #fff; color: #222328; }
body * { box-sizing: border-box;}
.cf:after { content: ''; display: block; clear: both; }

.btn{
  background-color: #458dd6;
  color: #fff;
  border-color: #77ace1;
} 

.btn:hover {
  background-color: #24629f;
  font-weight: bold;
  border-color: #24629f;
}
  
