@charset "UTF-8";


.wrap {
  width: 500px;
  margin: auto;
}

.title {
  padding: 30px;
  
}

.title > h3 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

.fontcolor {
  color: dodgerblue;
}

.accept {
  text-align: center;
}

.submit {
  margin-bottom : 100px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

label {
  text-align: right;
}

.col-form-label {
  font-weight: bold;
}
.check_font{
  
}