@charset "UTF-8";


.title {
  padding: 30px;
  
}

.title > h3 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

.wrap {
  max-width: 500px;
  margin: 0 auto;
}

.form-check {
  padding: 10px 0;
  font-weight: bold;
}

.text {
  width: 100%;
  margin: 30px 0;
  
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.form-group button {
  width: 49%;
}

.form-check-label {
  font-size: 17px;
}
