<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 직접 쿼리문을 입력 하는 곳 -->
<mapper namespace="com.green.mapper.adminBookMapper">

  <!-- 게시물 목록 -->
  <select id="adminBookCount" resultType="int">
    SELECT count(E_BOOK_NUM)
    FROM E_BOOK
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="keyword != null and keyword != '' ">
        <if test="searchType=='e_book_title'">
          AND E_BOOK_TITLE like CONCAT('%', #{keyword}, '%')
        </if>
        <if test="searchType=='e_book_writer'">
          AND E_BOOK_WRITER like CONCAT('%', #{keyword}, '%')
        </if>
        <if test="searchType=='e_book_publisher'">
          AND E_BOOK_PUBLISHER like CONCAT('%', #{keyword}, '%')
        </if>
        <if test="searchType=='e_book_tag'">
          AND E_BOOK_TAG like CONCAT('%', #{keyword}, '%')
        </if>
      </if>
    </trim>
  </select>

  <select id="adminBookList" parameterType="hashMap"
    resultType="com.green.adminBook.domain.AdminBookDTO">
    select
    E_BOOK_NUM, E_BOOK_TITLE, E_BOOK_WRITER,
    E_BOOK_PUBLISHER,
    E_BOOK_TAG, E_BOOK_IMG_PATH, E_BOOK_THUMBNAIL
    from E_BOOK
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if
        test="searchType=='e_book_title' and keyword != null and keyword != '' ">
        AND E_BOOK_TITLE like CONCAT('%', #{keyword}, '%')
      </if>
      <if
        test="searchType=='e_book_writer' and keyword != null and keyword != '' ">
        AND E_BOOK_WRITER like CONCAT('%', #{keyword}, '%')
      </if>
      <if
        test="searchType=='e_book_publisher' and keyword != null and keyword != '' ">
        AND E_BOOK_PUBLISHER like CONCAT('%', #{keyword}, '%')
      </if>
      <if
        test="searchType=='e_book_tag' and keyword != null and keyword != '' ">
        AND E_BOOK_TAG like CONCAT('%', #{keyword}, '%')
      </if>
    </trim>
    order by E_BOOK_NUM
    desc
    limit #{startList}, #{listSize};
  </select>

  <insert id="adminBookReg"
    parameterType="com.green.adminBook.domain.AdminBookDTO">
    insert into E_BOOK(E_BOOK_TITLE, E_BOOK_WRITER,
    E_BOOK_TRANSLATER,
    E_BOOK_PUBLISHER,
    E_BOOK_DATE, E_BOOK_INFO,
    E_BOOK_TAG,
    E_BOOK_INDEX, E_BOOK_IMG_PATH, E_BOOK_THUMBNAIL
    )
    values(#{e_book_title},
    #{e_book_writer}, #{e_book_translater},
    #{e_book_publisher}, #{e_book_date}, #{e_book_info}, #{e_book_tag},
    #{e_book_index}, #{e_book_img_path}, #{e_book_thumbnail})
  </insert>

  <!-- <selcet id="test" resultType="com.green.adminBook.domain.AdminBookDTO"> 
    select E_BOOK_IMG_PATH, E_BOOK_THUMBNAIL </selcet> -->
  <select id="adminBookView" resultType="com.green.adminBook.domain.AdminBookDTO">
    select
    E_BOOK_TITLE, E_BOOK_WRITER, E_BOOK_TRANSLATER,
    E_BOOK_PUBLISHER, E_BOOK_INFO, E_BOOK_INDEX,
    E_BOOK_DATE, E_BOOK_TAG, E_BOOK_IMG_PATH, E_BOOK_THUMBNAIL
    from E_BOOK
    where E_BOOK_NUM = #{e_book_num}
  </select>
  
  <update id="adminBookModify" parameterType="com.green.adminBook.domain.AdminBookDTO">
    update E_BOOK set 
    E_BOOK_TITLE = #{e_book_title},
		E_BOOK_WRITER = #{e_book_writer},
		E_BOOK_TRANSLATER = #{e_book_translater},
    E_BOOK_PUBLISHER = #{e_book_publisher},
    E_BOOK_INFO = #{e_book_info},
    E_BOOK_INDEX = #{e_book_index},
    E_BOOK_DATE = #{e_book_writer},
    E_BOOK_TAG = #{e_book_tag},
    E_BOOK_IMG_PATH = #{e_book_img_path},
    E_BOOK_THUMBNAIL = #{e_book_thumbnail}
		where E_BOOK_NUM = #{e_book_num}
  </update>
  
   <delete id="adminBookDelete" parameterType="com.green.adminBook.domain.AdminBookDTO">
    delete
    from E_BOOK
    where E_BOOK_NUM
    = #{e_book_num} 
  </delete>
</mapper>