<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 직접 쿼리문을 입력 하는 곳 -->
<mapper namespace="com.green.mapper.mainMapper">
  
  <!-- 인기도서 -->
  <select id="favorite" resultType="com.green.main.domain.MainDTO">
    SELECT e_book_title, e_book_writer, e_book_img_path,e_book_publisher,
    e_book_num, e_book_info FROM E_BOOK order by
    e_book_thumbupcnt desc limit 0,3
  </select>
  
  <!-- 신간도서 -->
  <select id="newbook" resultType="com.green.main.domain.MainDTO">
    SELECT e_book_title, e_book_writer, e_book_img_path,e_book_publisher,
    e_book_num, e_book_info FROM E_BOOK order by
    e_book_date desc limit 0,3
  </select>


</mapper>

