<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 직접 쿼리문을 입력 하는 곳 -->
<mapper namespace="com.green.mapper.searchMapper">

  <!-- 책 검색 --> 
  <select id="searchBookList" parameterType="String" resultType="com.green.adminBook.domain.AdminBookDTO">
    SELECT e_book_num, e_book_title, e_book_writer, e_book_date, e_book_info, e_book_index, e_book_img_path, e_book_tag
    FROM E_BOOK
    WHERE E_BOOK_TITLE LIKE '%' #{keyword} '%'
    or E_BOOK_WRITER LIKE '%' #{keyword} '%'
    or E_BOOK_INFO LIKE '%' #{keyword} '%'
    or E_BOOK_INDEX LIKE '%' #{keyword} '%' 
    or E_BOOK_TAG LIKE '%' #{keyword} '%'
    order by E_BOOk_NUM DESC;
  </select>



</mapper>