<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 직접 쿼리문을 입력 하는 곳 -->
<mapper namespace="com.green.mapper.searchMapper">

  <!-- 1) 전체 책 리스트 -->
  <select id="bookList" resultType="com.green.adminBook.domain.AdminBookDTO">
    SELECT * FROM E_BOOK order by E_BOOK_NUM DESC;
  </select>

  <!-- 2) 책 검색 --> 
  <select id="searchBookList" parameterType="String" resultType="com.green.adminBook.domain.AdminBookDTO">
    SELECT *
    FROM E_BOOK
    WHERE E_BOOK_TITLE LIKE '%' #{keyword} '%'
    or E_BOOK_WRITER LIKE '%' #{keyword} '%'
    or E_BOOK_INFO LIKE '%' #{keyword} '%'
    or E_BOOK_INDEX LIKE '%' #{keyword} '%' 
    or E_BOOK_TAG LIKE '%' #{keyword} '%'
    order by E_BOOk_NUM DESC;
    <!-- limit , -->
  </select>
  
  <!-- 가져온 책 수 -->
  <select id="searchBookCount">
    SELECT count(*) FROM E_BOOK where E_BOOK_TAG LIKE '%' #{keyword} '%';
  </select>
  
  



</mapper>